.quali-text {
    font-size: 20px;
    top: 10px;
}

.qualifications-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: 'smooth';
    margin-top: 15px;
    user-select: none;
}

.qualifications-container .qualification {
    position: relative;
    height: 550px;
    min-width: 40%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.qualifications-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
}

.qualifications-container .qualification h1 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}

.qualifications-container .qualification .content.html {
    background: rgba(255, 255, 255, 0.103) url(../../images/html.png);
    background-position: center;
    background-repeat: space;
    background-size: 76px;
}
.qualifications-container .qualification .content.css {
    background: rgba(255, 255, 255, 0.103) url(../../images/css.png);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    background-size: 76px;
}
.qualifications-container .qualification .content.javascript {
    background: rgba(255, 255, 255, 0.103) url(../../images/js.png);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    background-size: 82px;
}
.qualifications-container .qualification .content.react {
    background: rgba(255, 255, 255, 0.103) url(../../images/react.png);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    background-size: 70px;
}
.qualifications-container .qualification .content.node {
    background: rgba(255, 255, 255, 0.103) url(../../images/nodejs_logo.png);
    background-position: center;
    background-size: cover;
    background-size: 75px;
}
.qualifications-container .qualification .content.php {
    background: rgba(255, 255, 255, 0.103) url(../../images/PHP-logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    background-size: 80px;
}
.qualifications-container .qualification .content.python {
    background: rgba(255, 255, 255, 0.103) url(../../images/Python.png);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    background-size: 73px;
}
.qualifications-container .qualification .content.java {
    background: rgba(255, 255, 255, 0.103) url(../../images/Java_programming_language_logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    background-size: 66px;
}
.qualifications-container .qualification .content.mongoDB {
    background: rgba(255, 255, 255, 0.103) url(../../images/mongodb.png);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    background-size: 110px;
}
.qualifications-container .qualification .content.sql {
    background: rgba(255, 255, 255, 0.103) url(../../images/Sql_data_base_with_logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: space;
    background-size: 100px;
}

@media (max-width: 820px) {
    .quali-text {
        font-size: 30px;
        top: 10px;
        text-align: center;
    }

    .qualifications-container {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 80%;
        width: 98%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 15px;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 95%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 30px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
    }
  
@media (max-width: 500px) {
    .quali-text {
        font-size: 20px;
        top: 10px;
        text-align: center;
    }

    .qualifications-container {
        position: absolute;
        display: flex;
        justify-content: flex-start ;
        align-items: center;
        text-align: center;
        height: 80%;
        width: 90%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 95%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 40px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}
  
@media (max-width: 420px) {
    .quali-text {
        font-size: 20px;
        top: 10px;
        text-align: center;
    }

    .qualifications-container {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80%;
        width: 88%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 40px;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 98%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 40px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}
  
@media (max-width: 400px) {
    .quali-text {
        font-size: 20px;
        top: 10px;
        position: absolute;
        left: 10px;
    }

    .qualifications-container {
        position: absolute;
        left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 90%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 20px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}
  
@media (max-width: 375px) {
    .quali-text {
        font-size: 20px;
        top: 10px;
        position: absolute;
        left: 10px;
    }

    .qualifications-container {
        position: absolute;
        left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 95%;
        min-width: 90%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 20px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}
