.quali-text {
    font-size: 20px;
    top: 10px;
}

.qualifications-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 80%;
    width: 90%;
    margin-top: 15px;
    user-select: none;
}

.qualifications-container .qualification {
    position: relative;
    height: 220px;
    width: 140px;
    /* min-width: 10%; */
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.qualifications-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
    align-items: center;
}

.qualifications-container .qualification h1 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
}

.qualifications-container .qualification .content.html {
    background: rgba(255, 255, 255, 0.103) ;
    background-image: url(../../images/html.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.css {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/css.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.javascript {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/js.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.react {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/react.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.node {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/nodejs_logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.php {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/PHP-logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.python {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/Python.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.java {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/Java_programming_language_logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.mongoDB {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/mongodb.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.sql {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/Sql_data_base_with_logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.cisco {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/ccna.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.qualifications-container .qualification .content.npm {
    background: rgba(255, 255, 255, 0.103);
    background-image: url(../../images/npm.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width: 550px) {
    .qualifications-container {
        
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 450px) {
    .qualifications-container .qualification {
        height: 180px;
        width: 100px;
    }
    .qualifications-container .qualification h1 {
        font-size: 15px;
        text-transform: uppercase;
        margin: 20px;
    }
}

/* @media (max-width: 820px) {
    .quali-text {
        font-size: 30px;
        top: 10px;
        text-align: center;
    }

    .qualifications-container {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 80%;
        width: 98%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 15px;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 95%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 30px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
    }
  
@media (max-width: 500px) {
    .quali-text {
        font-size: 20px;
        top: 10px;
        text-align: center;
    }

    .qualifications-container {
        position: absolute;
        display: flex;
        justify-content: flex-start ;
        align-items: center;
        text-align: center;
        height: 80%;
        width: 90%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 95%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 40px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}
  
@media (max-width: 420px) {
    .quali-text {
        font-size: 20px;
        top: 10px;
        text-align: center;
    }

    .qualifications-container {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80%;
        width: 88%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 40px;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 98%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 40px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}
  
@media (max-width: 400px) {
    .quali-text {
        font-size: 20px;
        top: 10px;
        position: absolute;
        left: 10px;
    }

    .qualifications-container {
        position: absolute;
        left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 80%;
        min-width: 90%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 20px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
}
  
@media (max-width: 375px) {
    .quali-text {
        font-size: 20px;
        top: 10px;
        position: absolute;
        left: 10px;
    }

    .qualifications-container {
        position: absolute;
        left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .qualifications-container .qualification {
        position: relative;
        height: 95%;
        min-width: 90%;
        background-color: rgb(9, 6, 31);
        border-radius: 20px;
        margin: 0 20px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .qualifications-container .qualification .content {
        height: 85%;
        width: 90%;
        border-radius: 15px;
        margin-top: 20px;
        background-size: contain;
        background-position: center;
    }

    .qualifications-container .qualification h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 200;
    }
} */
